body {
    text-align: center;
    font-family: 'Concert One', cursive;
    background-color: rgb(49, 49, 46);
}

.pre-scrollable {
    text-align: left;
    color: white;
    white-space: normal;
}

code {
    white-space: pre;
}

.info-table {
    border: 10px solid rgb(34, 34, 33);
}

.header-info {
    color: white;
}

#doc-navigation, #doc-wrapper {
    margin-right: 10px;
    margin-left: 10px;
}

#doc-navigation a {
    display: block;
    padding: 10px 8px 8px 10px;
    border-bottom: 1px solid gray;
}

.doc-text {
    font-size: 17px;
    line-height: 1;
}

.doc-heading {
    border-bottom: 2px solid gray;
}

.oxygen, li {font-family: 'Oxygen', sans-serif;}