<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Concert+One|Oxygen" rel="stylesheet">
            <title>Gensearch - MHGen API</title>
    
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="The documentation page for Gensearch, an API for retrieving information about Capcom's Monster Hunter Generations.">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row bg-dark text-left header-info px-5 mt-2">
                <h1>Gensearch Docs</h1>
            </div>
            <div class="row">
                <div class="rounded col-xl-3 align-items-center h-100 bg-light mt-3" id="doc-navigation">
                    <a class="lead" href="/">Home</a>
                    <a class="lead" href="#getting_started">Getting Started</a>
                    <a class="lead" href="#monsters">Monsters</a>
                    <a class="lead" href="#items">Items</a>
                    <a class="lead" href="#quests">Quests</a>
                </div>
                <div class="rounded col-xl-8 text-left bg-light mt-3 doc-text" id="doc-wrapper">
                    <h2 class="display-4 doc-heading" id="getting_started">Getting Started</h2>
                    <p class="oxygen">To make requests to online resources, you can use a library such as <code>curl</code>.</p>
                    <p class="oxygen">There are a few different things you can retrieve. The <strong>base URL</strong> stays the 
                    same across all endpoints. It is all the characters in the URL before <code>/api/</code>. 
                    Open a terminal (or use an online program that allows you to make GET requests) and type this in.</p>
                    <pre><code>http://localhost:5000/api/monster/gore_magala</code></pre>
                    <p class="oxygen">You should see a blob of .JSON in the console that resembles this:</p>
                    <pre class="pre-scrollable bg-dark"><code>
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 15122
Server: Werkzeug/0.14.1 Python/3.6.3
Date: Tue, 10 Jul 2018 21:11:23 GMT
                            
{
    "armor": [
        "[Blademaster] Gore", 
        "[Gunner] Gore S", 
        "[Gunner] EX Gore", 
        "[Blademaster] EX Gore", 
        "[Blademaster] Gore S", 
        "[Gunner] Gore"
    ], 
    "base_hp": 4800, 
    "base_size": 1760.9, 
    "crown_sizes": {
        "large_gold": 2165.91, 
        "silver": 2025.03, 
        "small_gold": 1584.81
    }, 
    "drops": {
        "high": [
            {...},
        ]
        "low": [
            {...},
        ]
    }
    "name": "Gore Magala", 
    "parts": [
        {...}, 
    ]
    "quests": [
        {...},
    ]
    ... 
}
                    </code></pre>
                    <p class="doc-text oxygen">..And so on. If it looks slightly different or the order of the data is different, it's still normal!</p>
                    <h2 class="display-4 doc-heading" id="monsters">Monsters</h2>
                    <p class="doc-text oxygen">A Monster resource contains information about a fightable monster in Monster Hunter Generations, either large or small.</p>
                    <h4>Request Example</h4>
                    <pre><code>http://localhost:5000/api/monster/seltas</code></pre>
                    <h4>Endpoints</h4>
                    <ul>
                        <li><code>/monster/</code> -- Retrieves a list of dictionaries named <code>monsters</code> containing each monster in the game and their API endpoint.</li>
                        <li><code>/monster/:name/</code> -- Retrieves the resource for a specific monster.</li>
                    </ul>
                    <h5>Response Example for <code>/monster/</code></h5>
                    <pre class="pre-scrollable bg-dark"><code>
{
    "monsters": [
        {
            "name": "Velocidrome", 
            "url": "http://localhost:5000/api/monster/Velocidrome"
        }, 
        {
            "name": "Bulldrome", 
            "url": "http://localhost:5000/api/monster/Bulldrome"
        }, 
        {
            "name": "Great Maccao", 
            "url": "http://localhost:5000/api/monster/Great%20Maccao"
        }, 
        ....
    ]
}
                    </code></pre>
                    <h5>Attributes</h5>
                    <ul>
                        <li><code>monsters</code> (list/dict) - A list of all the monsters in the game.
                            <ul>
                                <li><code>name</code> (string) - The name of the monster.
                                <li><code>url</code> (string) - The API URL for the monster.
                            </ul>
                        </li>
                    </ul>
                    <h5>Response Example for <code>/monster/:name/</code></h5>
                    <pre class="pre-scrollable bg-dark"><code>{
    "armor": [
        "[Blademaster] Seltas", 
        "[Gunner] Seltas"
    ], 
    "base_hp": 2000, 
    "base_size": 615.9, 
    "crown_sizes": {
    "large_gold": 757.56, 
    "silver": 708.29, 
    "small_gold": 554.31
    }, 
    "drops": {
        "high": [
            {
            "drop_chance": "65%", 
            "item_name": "Seltas Carapace", 
            "quantity": 1, 
            "rank": "High", 
            "source": "Body Carve"
            },
            ...
        ], 
        "low": [
            {
            "drop_chance": "60%", 
            "item_name": "Seltas Carapace", 
            "quantity": 1, 
            "rank": "Low", 
            "source": "Body Carve"
            }, 
            ...
        ]
    }, 
    "name": "Seltas", 
    "parts": [
    {
        "extract_color": "red", 
        "part_name": "Head", 
        "stagger_value": 180
    }, 
    {
        "extract_color": "white", 
        "part_name": "Feet", 
        "stagger_value": 60
    }, 
    {
        "extract_color": "orange", 
        "part_name": "Stomach", 
        "stagger_value": 100
    }
    ], 
    "quests": [
        {
            "amount": 5, 
            "monster_stats": {
            "attack_multiplier": 2.65, 
            "defense_multiplier": 0.85, 
            "dizzy_multiplier": 1.25, 
            "exhaust_multiplier": 1.6, 
            "hp": 1940, 
            "mount_multiplier": 1.6, 
            "stagger_multiplier": 1.35
            }, 
            "quest_name": "[Village\u26056] Advanced: Seltas Queen", 
            "special_attribute": "no"
        }, 
        ...
    ], 
    "weapons": {
        "bow": [
            "Heat Haze"
        ], 
        "charge_blade": [
            "Schildsect"
        ], 
        ...
    }
}</code></pre>
                <h5>Attributes</h5>
                {{ monster_docs|safe }}


                <h2 class="display-4 doc-heading" id="items">Items</h2>
                <p class="oxygen">An Item resource contains information about an obtainable item in Generations.</p>
                <h4>Request Example</h4>
                <pre><code>http://localhost:5000/api/item/honey</code></pre>
                <h4>Endpoints</h4>
                <ul>
                    <li><code>/item/</code> -- Retrieves all items in the game.</li>
                    <li><code>/item/:name/</code> -- Retrieves a single item resource.</li>
                </ul>
                <h5>Response Example for <code>/item/</code></h5>
                <pre class="pre-scrollable bg-dark"><code>{
    "items": [
        {
            "name": "Book of Combos 3", 
            "url": "http://localhost:5000/api/item/Book%20of%20Combos%203"
        }, 
        {
            "name": "Potion", 
            "url": "http://localhost:5000/api/item/Potion"
        }, 
        {
            "name": "Book of Combos 2", 
            "url": "http://localhost:5000/api/item/Book%20of%20Combos%202"
        },
        ...
    ]
}</code></pre>
                <h5>Attributes</h5>
                <ul>
                    <li><code>items</code> (list/dict) - A list of all the items in the game.
                        <ul>
                            <li><code>name</code> - The name of the item.</li>
                            <li><code>url</code> - The API endpoint of the item.</li>
                        </ul>
                    </li>
                </ul>
                <h5>Response example for <code>/item/:name/</code></h5>
                <pre class="pre-scrollable bg-dark"><code>{
    "combination": [
        "None"
    ],
    "crafting": {
        "armor": {
            "byproduct": [],
            "create": [
                {
                    "name": "Seltas Vambraces",
                    "quantity": 4,
                    "unlocks_armor": false
                },
            ],
            "upgrade": []
        },
        "decorations": [],
        "palico": {
            "armor": [],
            "weapon": []
        },
        "weapons": {
            "byproduct": [],
            "create": [
                {
                "name": "Shell Shooter 1",
                "quantity": 6,
                "unlocks_creation": false
                },
            ],
            "upgrade": [
                {
                "name": "Griffin's Charge 1",
                "quantity": 4,
                "unlocks_creation": false
                },
            ]
        }
    },
    "description": "A hard piece of exoskeleton whose smooth surface reduces air resistance while flying.",
    "max_stack_size": 99,
    "name": "Seltas Carapace",
    "quest_rewards": [
        {
            "appearance_chance": 10,
            "box": "Sub Reward",
            "quantity": 1,
            "quest": "[Guild★4] Ancestral Steppe Fungus Run"
        },
    ],
    "rarity": 6,
    "sell_price": 660
}</code></pre>
                    <h5>Attributes</h5>
                    {{ item_docs|safe }}

                    <h2 class="display-4 doc-heading" id="quests">Quests</h2>
                    <p class="oxygen">A Quest resource contains information about a quest in Monster Hunter Generations.</p>
                    <h4>Request Example</h4>
                    <pre><code>http://localhost:5000/api/quest</code></pre>
                    <h4>Endpoints</h4>
                    <ul>
                        <li><code>/quest/</code> -- Retrieves all quests in the game.</li>
                        <li><code>/quest/:name/</code> -- Retrieves a single quest resource.</li>
                    </ul>
                    <h5>Response Example for <code>/quest/</code></h5>
<pre class="pre-scrollable bg-dark"><code>{
    "quests": [
      {
        "name": "[Village★1] Find the Ferns", 
        "url": "http://localhost:5000/api/quest/Find%20the%20Ferns"
      }, 
      {
        "name": "[Village★1] Medicinal Moths", 
        "url": "http://localhost:5000/api/quest/Medicinal%20Moths"
      }, 
      {
        "name": "[Village★1] Due for Dragon Amber", 
        "url": "http://localhost:5000/api/quest/Due%20for%20Dragon%20Amber"
      }, 
      {
        "name": "[Village★1] A Fungal Hunt", 
        "url": "http://localhost:5000/api/quest/A%20Fungal%20Hunt"
      }, 
      {
        "name": "[Village★1] Wipe Out!", 
        "url": "http://localhost:5000/api/quest/Wipe%20Out%21"
      },
      .......
    ]
}</code></pre>
                    <h5>Attributes</h5>
                    <ul>
                        <li><code>quests</code> (list/dict) - A list containing all the quests.
                            <ul>
                                <li><code>name</code> (str) - The name of the quest.</li>
                                <li><code>url</code> (str) - The API endpoint of the quest.</li>
                            </ul>
                        </li>
                    </ul>
                    <h5>Response Example for <code>/quest/:name/</code></h5>
<pre class="pre-scrollable bg-dark"><code>{
    "quests": [
      {
        "contract_fee": 1300, 
        "description": "Pokke Manager: Looks like another request from the Guild... They want some red monsters hunted down. You'll do it for me and save these hands from getting dirty, of course? Wonderful. Good luck, now!", 
        "goal": {
          "description": "Hunt all large monsters", 
          "hrp_reward": 670, 
          "wycadpts_reward": 1230, 
          "zenny_reward": 12300
        }, 
        "is_key": false, 
        "is_prowler": false, 
        "is_unstable": false, 
        "monsters": [
          {
            "amount": 1, 
            "monster_stats": {
              "attack_multiplier": 2.65, 
              "defense_multiplier": 0.9, 
              "dizzy_multiplier": 1.1, 
              "exhaust_multiplier": 1.5, 
              "hp": 2888, 
              "mount_multiplier": 1.6, 
              "stagger_multiplier": 1.2
            }, 
            "name": "Volvidon", 
            "special_attribute": "no"
          }, 
          {
            "amount": 1, 
            "monster_stats": {
              "attack_multiplier": 2.65, 
              "defense_multiplier": 0.9, 
              "dizzy_multiplier": 1.1, 
              "exhaust_multiplier": 1.5, 
              "hp": 2310, 
              "mount_multiplier": 1.6, 
              "stagger_multiplier": 1.2
            }, 
            "name": "Daimyo Hermitaur", 
            "special_attribute": "no"
          }, 
          {
            "amount": 1, 
            "monster_stats": {
              "attack_multiplier": 2.65, 
              "defense_multiplier": 0.9, 
              "dizzy_multiplier": 1.1, 
              "exhaust_multiplier": 1.5, 
              "hp": 2940, 
              "mount_multiplier": 1.6, 
              "stagger_multiplier": 1.2
            }, 
            "name": "Rathalos", 
            "special_attribute": "no"
          }
        ], 
        "name": "[Village★6] Advanced: Seeing Red", 
        "prerequisites": [], 
        "rewards": [
          {
            "appear_chance": 15, 
            "box": "Main Reward A", 
            "name": "Volvidon Carapace", 
            "quantity": 1
          }, 
          {
            "appear_chance": 15, 
            "box": "Main Reward A", 
            "name": "Hermitaur Carapace", 
            "quantity": 1
          }, 
          ....
        ], 
        "subgoal": {
          "description": "None", 
          "hrp_reward": 0, 
          "wycadpts_reward": 0, 
          "zenny_reward": 0
        }, 
        "time_limit": 50, 
        "type": "Hunt", 
        "unlocks": []
      }
    ]
  }</code></pre>
                    <h5>Attributes</h5>
                    {{ quest_docs|safe }}
                </div>
            </div>
        </div>
    </body>
</html>