<!doctype html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Concert+One|Oxygen" rel="stylesheet">
            <title>Gensearch - MHGen API</title>
    
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="The documentation page for Gensearch, an API for retrieving information about Capcom's Monster Hunter Generations.">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row bg-dark text-left header-info px-5 mt-2">
                <h1>Gensearch Docs</h1>
            </div>
            <div class="row">
                <div class="rounded col-3 align-items-center h-100 bg-light mt-3" id="doc-navigation">
                    <a class="lead" href="/">Home</a>
                    <a class="lead" href="#getting_started">Getting Started</a>
                    <a class="lead" href="#monsters">Monsters</a>
                </div>
                <div class="rounded col text-left bg-light mt-3" id="doc-wrapper">
                    <h2 class="display-4 doc-heading" id="getting_started">Getting Started</h2>
                    <p class="doc-text oxygen">To make requests to online resources, you can use a library such as <code>curl</code>.</p>
                    <p class="doc-text oxygen">There are a few different things you can retrieve. The <strong>base URL</strong> stays the 
                    same across all endpoints. It is all the characters in the URL before <code>/api/</code>. 
                    Open a terminal (or use an online program that allows you to make GET requests) and type this in.</p>
                    <pre><code>http://localhost:5000/api/monster/gore_magala</code></pre>
                    <p class="doc-text oxygen">You should see a blob of .JSON in the console that resembles this:</p>
                    <pre><code>
HTTP/1.0 200 OK
Content-Type: application/json
Content-Length: 15122
Server: Werkzeug/0.14.1 Python/3.6.3
Date: Tue, 10 Jul 2018 21:11:23 GMT
                            
{
    "armor": [
        "[Blademaster] Gore", 
        "[Gunner] Gore S", 
        "[Gunner] EX Gore", 
        "[Blademaster] EX Gore", 
        "[Blademaster] Gore S", 
        "[Gunner] Gore"
    ], 
    "base_hp": 4800, 
    "base_size": 1760.9, 
    "crown_sizes": {
        "large_gold": 2165.91, 
        "silver": 2025.03, 
        "small_gold": 1584.81
    }, 
    "drops": {
        "high": [
            {...},
        ]
        "low": [
            {...},
        ]
    }
    "name": "Gore Magala", 
    "parts": [
        {...}, 
    ]
    "quests": [
        {...},
    ]
    ... 
}
                    </code></pre>
                    <p class="doc-text oxygen">..And so on. If it looks slightly different or the order of the data is different, it's still normal!</p>
                    <h2 class="display-4 doc-heading" id="monsters">Monsters</h2>
                    <p class="doc-text oxygen">A Monster resource contains information about a fightable monster in Monster Hunter Generations, either large or small.</p>
                    <h4>Request Example</h4>
                    <pre><code>http://localhost:5000/api/monster/seltas</code></pre>
                    <h4>Endpoints</h4>
                    <ul>
                        <li><code>/monster/</code> -- Retrieves a list of dictionaries named <code>monsters</code> containing each monster in the game and their API endpoint.</li>
                        <li><code>/monster/:name/</code> -- Retrieves the resource for a specific monster.</li>
                    </ul>
                    <h5>Response Example for <code>/monster/</code></h5>
                    <pre class="pre-scrollable bg-dark"><code>
{
    "monsters": [
        {
            "name": "Velocidrome", 
            "url": "http://localhost:5000/api/monster/Velocidrome"
        }, 
        {
            "name": "Bulldrome", 
            "url": "http://localhost:5000/api/monster/Bulldrome"
        }, 
        {
            "name": "Great Maccao", 
            "url": "http://localhost:5000/api/monster/Great%20Maccao"
        }, 
        ....
    ]
}
                    </code></pre>
                    <h5>Attributes</h5>
                    <ul>
                        <li><code>monsters</code> (list/dict) - A list of all the monsters in the game.
                            <ul>
                                <li><code>name</code> (string) - The name of the monster.
                                <li><code>url</code> (string) - The API URL for the monster.
                            </ul>
                        </li>
                    </ul>
                    <h5>Response Example for <code>/monster/:name/</code></h5>
                    <pre class="pre-scrollable bg-dark"><code>{
    "armor": [
        "[Blademaster] Seltas", 
        "[Gunner] Seltas"
    ], 
    "base_hp": 2000, 
    "base_size": 615.9, 
    "crown_sizes": {
    "large_gold": 757.56, 
    "silver": 708.29, 
    "small_gold": 554.31
    }, 
    "drops": {
        "high": [
            {
            "drop_chance": "65%", 
            "item_name": "Seltas Carapace", 
            "quantity": 1, 
            "rank": "High", 
            "source": "Body Carve"
            },
            ...
        ], 
        "low": [
            {
            "drop_chance": "60%", 
            "item_name": "Seltas Carapace", 
            "quantity": 1, 
            "rank": "Low", 
            "source": "Body Carve"
            }, 
            ...
        ]
    }, 
    "name": "Seltas", 
    "parts": [
    {
        "extract_color": "red", 
        "part_name": "Head", 
        "stagger_value": 180
    }, 
    {
        "extract_color": "white", 
        "part_name": "Feet", 
        "stagger_value": 60
    }, 
    {
        "extract_color": "orange", 
        "part_name": "Stomach", 
        "stagger_value": 100
    }
    ], 
    "quests": [
        {
            "amount": 5, 
            "monster_stats": {
            "attack_multiplier": 2.65, 
            "defense_multiplier": 0.85, 
            "dizzy_multiplier": 1.25, 
            "exhaust_multiplier": 1.6, 
            "hp": 1940, 
            "mount_multiplier": 1.6, 
            "stagger_multiplier": 1.35
            }, 
            "quest_name": "[Village\u26056] Advanced: Seltas Queen", 
            "special_attribute": "no"
        }, 
        ...
    ], 
    "weapons": {
        "bow": [
            "Heat Haze"
        ], 
        "charge_blade": [
            "Schildsect"
        ], 
        ...
    }
}</code></pre>
                <h4>Attributes</h4>
                <ul>
                    <li><code>name</code> (string) - The name of the monster.</li>
                    <li><code>base_hp</code> (int) - The average HP of the monster.</li>
                    <li><code>base_size</code> (int) - The average size of the monster.</li>
                    <li><code>crown_sizes</code> (dict) - The minimum/maximum size to achieve crown sizes.
                        <ul>
                            <li><code>small_gold</code> (float) - The size required to get a small crown.</li>
                            <li><code>silver</code> (float) - The size required to get a silver crown (a silver crown is received when the monster is either slightly below or above average size).</li>
                            <li><code>large_gold</code> (float) - The size required to get a large crown.</li>
                        </ul>
                    </li>
                    <li><code>parts</code> (list/dict) - The distinct parts of the monster.
                        <ul>
                            <li><code>part_name</code> (string) - The name of the part.</li>
                            <li><code>stagger_value</code> (int) - The damage threshold for monsters to stagger. Parts break after a certain number of staggers, although this amount is not currently included in the API.</li>
                            <li><code>extract_color</code> (string) - The color of nectar you receive when hitting the part with the insect glaive.</li>
                        </ul>
                    </li>
                    <li><code>drops</code> (dict) - The various items you can receive from the monster.
                        <ul>
                            <li><code>high</code> (list/dict) - High rank drops.
                                <ul>
                                    <li><code>item_name</code> (string) - The name of the item.</li>
                                    <li><code>source</code> (string) - How you receive the item, whether it be from breaking parts, carving, or gathering.</li>
                                    <li><code>rank</code> (string) - Whether this item is low or high rank.</li>
                                    <li><code>drop_chance</code> (string) - The chance of the hunter receiving this item after completing the requirements.</li>
                                    <li><code>quantity</code> (int) - The number of the item you receive.</li>
                                </ul>
                            </li>
                            <li><code>low</code> (list/dict) - Low rank drops. They share the same attributes as high rank ones.</li>
                        </ul>
                    </li>
                    <li><code>quests</code> (list/dict) - The quests where this monster appears.
                        <ul>
                            <li><code>quest_name</code> (string) - The name of the quest.</li>
                            <li><code>amount</code> (int) - The amount of this monster in the quest.</li>
                            <li><code>special_attribute</code> (string) - If the monster is hyper or an intruder.</li>
                            <li><code>monster_stats</code> (dict) - The <strong>quest-specific</strong> attributes of this monster compared to its normal ones.
                                <ul>
                                    <li><code>hp</code> (int) - The amount of HP this monster has.</li>
                                    <li><code>stagger_multiplier</code> (int) - The multiplier that affects the stagger value of each part.</li>
                                    <li><code>attack_multiplier</code> (int) - The multiplier that affects the monster's attack.</li>
                                    <li><code>defense_multiplier</code> (int) - The multiplier that affects the monster's defense.</li>
                                    <li><code>exhaust_multiplier</code> (int) - The multiplier that affects how quickly the monster gets exhausted/tired/hungry.</li>
                                    <li><code>dizzy_multiplier</code> (int) - The multiplier that affects how easy it is to stun the monster.</li>
                                    <li><code>mount_multiplier</code> (int) - The multiplier that affects how easy to monster is to mount.</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><code>armor</code> (list/str) - A list of the names of the armor sets associated with this monster.</li>
                    <li><code>weapons</code> (dict) - A dictionary of the weapons associated with this monster. The amount of keys vary depending on what weapon classes it has.
                        <ul>
                            <li><code>(weapon_type)</code> (list/str) - The key corresponds to the weapon class. Contains names of the weapons in that class related to this monster.</li>
                        </ul>
                    </li>
                </ul>


                <h2 class="display-4 doc-heading" id="items">Items</h2>
                    <p class="doc-text oxygen">An Item resource contains information about an obtainable item in Generations.</p>
                    <h4>Request Example</h4>
                    <pre><code>http://localhost:5000/api/item/honey</code></pre>
                    <h4>Endpoints</h4>
                    <ul>
                        <li><code>/item/</code> -- Retrieves all items in the game.</li>
                        <li><code>/item/:name/</code> -- Retrieves a single item resource.</li>
                    </ul>
                    <h5>Response Example for <code>/item/</code></h5>
                    <pre class="pre-scrollable bg-dark"><code>{
    "items": [
        {
            "name": "Book of Combos 3", 
            "url": "http://localhost:5000/api/item/Book%20of%20Combos%203"
        }, 
        {
            "name": "Potion", 
            "url": "http://localhost:5000/api/item/Potion"
        }, 
        {
            "name": "Book of Combos 2", 
            "url": "http://localhost:5000/api/item/Book%20of%20Combos%202"
        },
        ...
    ]
}</code></pre>
                <h5>Attributes</h5>
                <ul>
                    <li><code>items</code> (list/dict) - A list of all the items in the game.
                        <ul>
                            <li><code>name</code> - The name of the item.</li>
                            <li><code>url</code> - The API endpoint of the item.</li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </body>
</html>