<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
        <title>Gensearch - MHGen API</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="An API for retrieving information about Capcom's Monster Hunter Generations.">
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron bg-dark header-info">
                <h1>Gensearch</h1>
                <h4 class="font-italic">Access information about items, quests, monsters, armors, weapons, and more!</h4>
            </div>
            <div class="row">
                <div class="response-example col">
                    <h5 class="text-muted">Here's an example response for Seltas.</h5>
                    <pre class="bg-dark pre-scrollable">
                        <code>{{ code_example }}</code>
                    </pre>
                </div>
                <table class="table table-bordered info-table col-6 mh-100">
                    <tbody>
                        <tr class="table-light">
                            <th>What is Gensearch?</th>
                            <td>
                                <p>Gensearch is an API that allows you to access information about content in the game Monster Hunter Generations.</p>
                                <p>It features information on monster stats, armor sets, weapons, hunter arts, items, quests, skills, and palico data!</p>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th>How do I use this?</th>
                            <td>Documentation can be found <a href="/docs">here</a>. There are no tokens or other authorization requirements, so no jumping through hoops to get access to what you want!</td>
                        </tr>
                        <tr class="table-light">
                            <th>Acknowledgements</th>
                            <td>
                                <p>Many thanks to <a href="http://mhgen.kiranico.com">Kiranico</a> for gathering and centralizing the information. I take no credit for any of the properties of the game or collecting any of the information myself.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>